* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: "Segoe UI", Tahoma, "Geneva", Verdana, sans-serif;
}
blockquote {
  border-left: 5px solid rgb(197, 5, 133);
  padding: 0.5rem;
}
#can,
#canbg,
#canfg,
#canmain,
#canhide {
  border: 1px solid #000;
  margin: 5% auto 1px auto;
  height: 300px;
  width: 300px;
}
#red {
  background: rgb(231, 47, 47);
  color: rgb(228, 212, 212);
  border: none;
  margin: 2px 0;
}
#orange {
  background: rgb(226, 11, 119);
  color: rgb(228, 212, 212);
  border: none;
  margin: 2px 0;
}
#gray,
#neg {
  background: rgb(138, 138, 138);
  color: rgb(228, 212, 212);
  border: none;
  margin: 2px 0;
}
#green {
  background: rgb(19, 241, 37);
  color: rgb(228, 212, 212);
  border: none;
  margin: 2px 0;
}
#blue {
  background: rgb(19, 97, 241);
  color: rgb(228, 212, 212);
  border: none;
  margin: 2px 0;
}
#rainbow {
  background: linear-gradient(
    to left,
    rgb(29, 39, 29),
    rgba(176, 255, 30, 0.828)
  );
  color: rgb(228, 212, 212);
  border: none;
  margin: 2px 0;
}
#bborder {
  color: rgb(255, 255, 255);
  background: black;
  border: none;
  margin: 2px 0;
}
#blur {
  background: linear-gradient(
    to left,
    rgb(251, 255, 14),
    rgba(255, 251, 18, 0.828)
  );
  color: rgb(0, 0, 0);
  border: none;
  margin: 2px 0;
}

#cfil {
  color: rgba(255, 87, 165, 0.828);
}
