@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Sriracha&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: rgb(65, 64, 61);
  height: 100vh;
  overflow: hidden;
}
.bg {
  background: rgb(46, 43, 59);
  width: 90%;
  margin: 2rem auto;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px rgb(190, 168, 199);
}
.btn {
  width: 22%;
  margin: 1px;
  padding: 1.2rem;
}
.foot {
  margin: 0 auto;
  background: rgb(77, 74, 74);
  border-radius: 1rem;
  bottom: 0;
}
#display {
  background: rgb(224, 224, 224);
  color: #000;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  margin: 2rem auto 0 auto;
  height: 4rem;
  width: 70%;
  text-align: right;
}
#answer {
  background: #000;
  height: 0.5rem;
}
#clear {
  width: 76%;
  border-radius: 0.5rem;
}
#add,
#subtract,
#multiply,
#divide {
  width: 22%;
  background: rgb(58, 74, 165);
}
#add:hover,
#subtract:hover,
#multiply:hover,
#divide:hover {
  width: 22%;
  background: rgb(25, 32, 73);
}
.btgroup {
  margin: 1rem auto;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#text {
  font-family: "Indie Flower", cursive;
}
#author {
  font-family: "Sriracha", cursive;
}

@media (min-width: 768px) {
  .bg {
    background: rgb(46, 43, 59);
    width: 70%;
    padding: 1rem;
    margin: 2rem auto;
    border-radius: 1rem;
    box-shadow: 1px 1px 5px rgb(190, 168, 199);
  }
  .full {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    font-size: 2rem;
  }
  #display {
    background: rgb(224, 224, 224);
    color: #000;
    padding: 0.8rem 1rem;
    font-size: 1.5rem;
    margin: 2rem auto 0 auto;
    height: 4rem;
    width: 100%;
    text-align: right;
  }
  .btgroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #clear {
    width: 100%;
    margin: 0 auto;
  }
}
