* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: rgb(65, 13, 13);
  font-family: "Courier New", Courier, monospace;
  overflow: hidden;
}

h1 {
  color: white;
  padding: 1rem;
  margin: 0 auto;
  font-size: 2rem;
  border-bottom: 1px solid rgb(255, 255, 255);
  text-shadow: 5px 2px 1px #000;
  max-width: 320px;
}
.card {
  background: rgba(0, 0, 0, 0.534);
  max-width: 320px;
}

.bb,
.rb,
.gb {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.drum-pad {
  width: 30%;
}
#display {
  background: rgba(0, 0, 0, 0.616);
  padding: 0.5rem;
  height: 2.5rem;
  max-width: 320px;
}

@media (max-width: 320px) {
  body {
    width: 100vw;
    height: 100vh;
  }
  #drum-machine {
    width: 320px;
    background: #000;
    display: flex;
    z-index: 5;
  }
  #display {
    background: rgba(0, 0, 0, 0.616);
    padding: 0.2rem;
    height: 3rem;
    width: 280px;
  }
  .card {
    background: rgba(0, 0, 0, 0.534);
    width: 280px;
  }
  .foot {
    width: 300px;
  }
  .drum-pad {
    width: 30%;
    padding: 0;
  }
}
@media (max-width: 520px) {
  body {
    width: 100vw;
    height: 100vh;
  }
  #drum-machine {
    width: 320px;
    background: #000;
    display: flex;
    z-index: 5;
  }
  #display {
    background: rgba(0, 0, 0, 0.616);
    padding: 0.2rem;
    height: 3rem;
    width: 280px;
  }
  .card {
    background: rgba(0, 0, 0, 0.534);
    width: 280px;
  }
  .foot {
    width: 300px;
  }
  .drum-pad {
    width: 30%;
    padding: 0;
  }
}
