* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(13, 36, 63);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20% auto;
  color: aliceblue;
}
header {
  font-size: 0.5rem;
  margin: -3.5rem auto 0 auto;
  text-align: center;
}
.bg {
  width: 90%;
  max-width: 500px;
  background: rgba(0, 0, 0, 0.472);
  height: 100%;
  padding: 0.5rem 1.5rem;
  border-radius: 5%;
}
.ses-brk {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0.5rem;
}
.ses,
.brk {
  display: flex;
  flex-direction: column;
}
.but {
  display: flex;
  justify-content: space-around;
}
#session-label,
#break-label {
  background: rgb(56, 53, 53);
  color: aliceblue;
  padding: 0.4rem;
  border-radius: 5%;
  margin: 0 3px;
  font-size: 0.85rem;
  padding: 0.5rem;
}
#session-length,
#break-length {
  padding: 0.1rem;
  background: rgba(4, 77, 161, 0.589);
  color: rgb(255, 255, 255);
  margin: 3px;
  font-size: 1.5rem;
  text-align: center;
}
.timer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
#timer-label {
  margin: 0 auto;
  font-size: 1.4rem;
  text-transform: uppercase;
}
#time-left {
  color: brown;
  background: wheat;
  font-size: 3rem;
  padding: 0.7rem;
  border-radius: 0.8rem;
  margin: 0.4rem auto;
}
.btn {
  padding: 0.9rem;
}
.btngrp {
  font-size: 1.6rem;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.foot {
  background: rgb(47, 45, 45);
  color: aliceblue;
  position: fixed;
  top: 91%;
  padding: 0.4rem;
}

@media (min-width: 500px) {
  header {
    font-size: 8rem;
    text-align: center;
  }
  .bg {
    max-width: 800px;
  }

  #session-label,
  #break-label {
    padding: 0.7rem;
    margin: 0 5px;
    font-size: 1.8rem;
  }
  #session-length,
  #break-length {
    margin: 3px;
    font-size: 2rem;
  }

  #timer-label {
    font-size: 3rem;
  }
  #time-left {
    color: brown;
    background: wheat;
    font-size: 5rem;
  }
  .btn {
    padding: 1.2rem;
    margin-top: 1rem;
  }
}

@media (min-width: 1200px) {
  body {
    margin: 10% auto;
  }
  header {
    font-size: 8rem;
    text-align: center;
  }
  .bg {
    max-width: 1000px;
  }

  #session-label,
  #break-label {
    padding: 0.7rem;
    margin: 0 5px;
    font-size: 1.6rem;
  }
  #session-length,
  #break-length {
    margin: 3px;
    font-size: 2rem;
  }

  #timer-label {
    font-size: 2rem;
  }
  #time-left {
    color: brown;
    background: wheat;
    font-size: 6.5rem;
  }
  .btn {
    padding: 1.2rem;
    margin-top: 1rem;
  }
}
